.leaflet-container {
  height: calc(100vh - 75px);
}

.leaflet-marker-icon {
  border: none;
  background: none;
}

.marker-cluster-large div {
  background-color: #eb412a;
}

.marker-cluster-medium div {
  background-color: #f3ce4a;
}

.marker-cluster-small div {
  background-color: #49c549;
}
